table {
  border-collapse: collapse;
  width: 30%;
  margin: 0 auto;
}

th,
td {
  border: 1px solid #ddd;
  text-align: center;
}

th {
  background-color: #f2f2f2;
}
.green {
  color: #4caf50; /* 绿色 */
  font-weight: bold;
}
.red {
  color: red; /* 红色 */
  font-weight: bold;
}
