table {
  border-collapse: collapse;
  width: 100%;
  font-size: 14px;
}

th,
td {
  border: 1px solid #ddd;
  text-align: center;
  line-height: 1;
  min-width: 20px;
  padding: 2px 0;
  cursor: pointer;
}

th {
  background-color: aliceblue;
}

.highlight {
  background-color: red;
  color: #fff;
}

tbody tr:hover {
  background-color: green;
  color: white;
}

.red {
  background-color: blue;
  color: #fff;
}

.line {
  background-color: green;
  color: white;
}

thead tr:hover {
  background-color: green;
  cursor: pointer;
}

.purple-highlight {
  color: #fff;
  background-color: purple;
  font-weight: bold;
}
