table {
  border-collapse: collapse;
  width: 100%;
  font-size: 14px;
}
thead tr th:hover {
  background-color: green;
  cursor: pointer;
  /* 表头hover颜色 */
}
th,
td {
  border: 1px solid #ddd;
  text-align: center;
  line-height: 1;
  min-width: 20px;
  padding: 2px 0;
}

th {
  background-color: aliceblue;
}

/* 定义指定列的样式 */
.highlight {
  background-color: red;
  color: #fff;
}

.red {
  background-color: blue;
  color: #fff;
}

.line {
  background-color: green;
  color: white;
}

/* 定义行悬停样式 */
tbody tr:hover {
  background-color: green;
  color: white;
}
.purple-highlight {
  color: #fff;
  background-color: purple;
  font-weight: bold; /* 可选样式增强 */
}
